.container-hashtag {
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.container-hashtag .container-tagInput {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 3px;
}

.container-hashtag:hover .container-tagInput {
  display: flex;
  padding: 1rem;
  background-color: var(--color-dark);
  border: 1px solid var(--color-placeholder);
  border-radius: 1rem;
}

.container-hashtag:hover .container-tagInput .input-tags {
  background-color: inherit;
  color: white;
  outline: none;
  border: none;
  font-family: inherit;
  border-bottom: 1px solid white;
  padding-bottom: 0.2rem;
}

.container-hashtag:hover .container-tagInput button {
  font-size: 0.8rem;
}
