.sidenav {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-header);
  position: fixed;
  left: 0;
  padding-left: 0.5rem;

  --transition-speed: 600ms;
  height: 100%;
  z-index: 15;
  background-color: var(--color-dark);
  font-size: 1.3rem;
}

.sidenav:hover {
  box-shadow: 0 16px 10px 0 rgb(0 0 0 / 14%), 0 11px 18px 0 rgb(0 0 0 / 12%),
    0 13px 5px -1px rgb(0 0 0 / 20%);
}

.sidenav .icon {
  font-size: 1.6rem;
  margin-right: 5px;
}

.navbar:hover {
  transition: width 600ms ease;
  background-color: var(--color-dark);
  padding-right: 5rem;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--color-dark);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.navbar:hover .link-text {
  display: inline;
}
