.container-notesMenu {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-size: 1rem;
  width: 100%;
}

.container-notesMenu .container-left {
  display: flex;
  gap: 8px;
}

.container-notesMenu .container-right {
  padding-right: 3px;
  cursor: pointer;
}
