.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .input-title.big {
  height: auto;
}

.input-content.big {
  height: auto;
} */

.section-modal {
  width: 50%;
  /* height: auto;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); */
}
