.App {
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: var(--padding-header);
  padding-left: var(--padding-sidenav);
  padding-right: 30px;
  /* display: flex;
  justify-content: center; */

  height: 90vh;
}

.icon {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 50%;
}

.icon:hover {
  background-color: var(--color-active);
}
