.container-notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 130px;
  grid-gap: 10px;
}

.container-notes .card {
  border: 1px solid blue;
  /* max-height: 150px; */
  overflow: hidden;
  padding: 0 0.2rem 0.5rem 0.2rem;
}
