.container-notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(150px, max-content);
  grid-gap: 10px;
}

/* Display Cards */

.container-notes .notes-card {
  border: 1px solid var(--color-light-gray);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0 0.2rem 0.5rem 0.2rem;
  position: relative;
}

.container-display-topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-display-topRow .container-pin {
  font-size: 1.3rem;
  cursor: pointer;
}

.display-title {
  font-weight: 600;
  font-size: 1rem;
  flex: 1;
}

.display-content {
  font-size: 0.875rem;
  margin-top: 0.4rem;
  font-weight: 400;
}

/* .container-display-bottomMenu {
  position: absolute;
  bottom: 5px;
} */

/* @media (max-width: 850px) {
  .container-notes {
    grid-auto-rows: 200px;
  }
} */
