.container-notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, max-content);
  grid-gap: 10px;
}

/* Display Cards */

.container-notes .notes-card {
  border: 1px solid var(--color-light-gray);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  position: relative;
}

.container-notes .notes-card:hover .container-display-bottomMenu {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.container-notes .notes-card .container-display-bottomMenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.container-display-topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-display-topRow .container-pin {
  font-size: 1.3rem;
  cursor: pointer;
}

.display-title {
  font-weight: 600;
  font-size: 1rem;
  flex: 1;

  display: flex;
  align-items: center;
}

.display-content {
  font-size: 0.875rem;
  margin-top: 0.4rem;
  font-weight: 400;
}

/* TODO: Detect if device is touch only, and remove visibilty animation for menu hover, below css is a bad alternative to that */

@media (max-width: 768px) {
  .container-notes .notes-card .container-display-bottomMenu {
    visibility: visible;
    opacity: 1;
  }
}
